.product {
    display: outside;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 15rem;
    height: 25rem;

    background-color: #853974;

    max-width: 16rem;
    min-height: 31rem;

    
    background: #0b041b;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    -o-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); 
    

    text-align: center;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    flex: 1 1 auto;
    flex-shrink: 0;
    border-style: solid;
    border-color: #5878ca;
    border-width: 5px;
    padding: 1rem 1rem
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.product_info {
    color: #680653;
    font-weight: 700;
    margin: 0;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(98,3,117);
    background: linear-gradient(0deg, rgba(98,3,117,1) 0%, rgba(0,0,0,1) 100%);
}

.star-button {
    position: absolute;
    top: 45%;
}

.filter-sign {
    color: white;
    font-size: 30px;
}