.product {
    display: outside;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 15rem;
    height: 25rem;

    max-width: 16rem;
    min-height: 31rem;

    
    background: #110335;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    -o-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); 
    

    text-align: center;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    flex: 1 1 auto;
    flex-shrink: 0;
    border-style: solid;
    border-color: #5878ca;
    border-width: 5px;
    padding: 1rem 1rem
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.product_info {
    color: #bb3fa0;
    font-weight: 700;
    margin: 0;
}

button {
    background-color: transparent;
    border-radius: 50px;
    margin: 3px;
}
