body {
    all: unset;
    background-color: #620375;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.nav-sticky {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0px;

}

.main-title {
    all: unset;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

h6 {
    color: white;
    font-size: 20px;
}

h1 {
    color: red;
}

body {
    font-family: 'DM Sans', sans-serif;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
}

.product_image {
    height: 10rem;
}

label {
    color:rgb(243, 167, 167);
    text-align: center;
}

.product_section {
    color: #bd3cd6;
    font-size: 50px;
}

.container-fluid {
    align-items: center;
    justify-content: center !important;
    height: 200px;
}

.scrap-buttons-div {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}