<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <h6> Golosinas </h6>
        </a>
    </div>
</nav>


<%= render :template =>'/products/product_list' %>