<h1>Tienda COTO Scrapper</h1>

<h2>Seleccione el producto a scrappear</h2>
<ul>
    <li> <a href="/drinks_without_alcohol">Bebidas sin alcohol</a> </li>
    <li> <a href="/drinks_with_alcohol">Bebidas con alcohol</a> </li>
    <li> <a href="/candies">Golosinas</a> </li>
    <li> <a href="/cereal_bars">Barras</a> </li>
</ul>